version: 2

workflows:
  version: 2
  normal_build_and_test:
    jobs:
    - build_and_test
  nightly_build:
    triggers:
    - schedule:
        cron: "0 3 * * *"
        filters:
          branches:
            only:
            - master
    jobs:
    - build_and_test

  release:
    jobs:
    - release_build:
        context: ddev-images
        filters:
          tags:
            only:
            - "/.*/"
          branches:
            ignore: /.*/


jobs:
  build_and_test:
    environment:
      - CI: "true"
      - BUILDKIT_PROGRESS: plain
    machine:
      image: ubuntu-1604:202007-01

    steps:
      - checkout
      - run:
          name: "docker login if DOCKERHUB_TOKEN provided"
          command: if [ ! -z "${DOCKERHUB_TOKEN}" ]; then echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin; fi
      - run: ./.circleci/linux_circle_vm_setup.sh
      - run: make test

  release_build:
    environment:
      - CI: "true"
      - BUILDKIT_PROGRESS: plain
    machine:
      image: ubuntu-2004:202104-01
    steps:
    - checkout
    - run: ./.circleci/linux_circle_vm_setup.sh
    - run: make test
    - run: echo $DOCKERHUB_TOKEN | docker login -u $DOCKERHUB_USERNAME --password-stdin
    - run: make push VERSION=${CIRCLE_TAG}
    - run: docker logout
